html { 
	overflow-y: scroll;
	height: 100%;
}

body { 
	background:#323232;
	color: #666666;
	font-family: Arial, helvetica, sans-serif;
	width: 96%;
	max-height: 96%;
	margin: 2%;
}
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}

.item{
    background: #333;    
    text-align: center;
    height: 100% !important;
}

.carousel{
    margin-top: 20px;
}

.carousel-img{
	margin: auto;
}

.carousel-example{
	margin: 20px;
}

.featurette-div-right{
	width: 350px;
	height: 350px;
	background-color: #202020;
	float: right;
	opacity: .85;
}

.featurette-div{
	width: 350px;
	height: 350px;
	background-color: #202020;
	opacity: .85;
}

.center{
  	position:absolute;
    display: inline-block;
    height:auto;
    width: auto;
}